@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');

@media screen and (max-width: 800px) {
    #content {
        display: grid;
        grid-template-columns: 1fr !important;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 0 0;
    }
}

body {
    background: #202020;
    background: url('wallpaper.jpg');
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    text-align: center;
    margin-top: 20vh;
    position:relative;
}

#search {
    align-content: center;
    margin: 10px;
    width: auto;
    font-size: 50px;
    vertical-align: center;
}

#pages {
    align-content: center;
    margin-left: 5%;
    margin-right: 5%;
    width: auto;
    vertical-align: bottom;
    bottom: 0;
    position: absolute;
}